=begin
#Fax.to REST API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 0.0.1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.2.3

=end

require "uri"

module SwaggerClient
  class FaxApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # This API get the cost of a sending fax. 
    # @param api_key API Key
    # @param fax_number Fax Number
    # @param document_id id of the file / document_id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def fax_document_id_costs_get(api_key, fax_number, document_id, opts = {})
      fax_document_id_costs_get_with_http_info(api_key, fax_number, document_id, opts)
      return nil
    end

    # 
    # This API get the cost of a sending fax. 
    # @param api_key API Key
    # @param fax_number Fax Number
    # @param document_id id of the file / document_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def fax_document_id_costs_get_with_http_info(api_key, fax_number, document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: FaxApi.fax_document_id_costs_get ..."
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling FaxApi.fax_document_id_costs_get"
      end
      # verify the required parameter 'fax_number' is set
      if @api_client.config.client_side_validation && fax_number.nil?
        fail ArgumentError, "Missing the required parameter 'fax_number' when calling FaxApi.fax_document_id_costs_get"
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling FaxApi.fax_document_id_costs_get"
      end
      # resource path
      local_var_path = "/fax/{document_id}/costs".sub('{' + 'document_id' + '}', document_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'api_key'] = api_key
      query_params[:'fax_number'] = fax_number

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FaxApi#fax_document_id_costs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # This API get all fax history. 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :limit Number of records to return
    # @option opts [String] :page Page to display
    # @return [nil]
    def fax_get(api_key, opts = {})
      fax_get_with_http_info(api_key, opts)
      return nil
    end

    # 
    # This API get all fax history. 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :limit Number of records to return
    # @option opts [String] :page Page to display
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def fax_get_with_http_info(api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: FaxApi.fax_get ..."
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling FaxApi.fax_get"
      end
      # resource path
      local_var_path = "/fax"

      # query parameters
      query_params = {}
      query_params[:'api_key'] = api_key
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FaxApi#fax_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # This API get the status of the fax. 
    # @param api_key API Key
    # @param job_id id of the fax job
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def fax_job_id_status_get(api_key, job_id, opts = {})
      fax_job_id_status_get_with_http_info(api_key, job_id, opts)
      return nil
    end

    # 
    # This API get the status of the fax. 
    # @param api_key API Key
    # @param job_id id of the fax job
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def fax_job_id_status_get_with_http_info(api_key, job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: FaxApi.fax_job_id_status_get ..."
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling FaxApi.fax_job_id_status_get"
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling FaxApi.fax_job_id_status_get"
      end
      # resource path
      local_var_path = "/fax/{job_id}/status".sub('{' + 'job_id' + '}', job_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'api_key'] = api_key

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FaxApi#fax_job_id_status_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # This API get faxes . 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def incoming_faxes_get(api_key, opts = {})
      incoming_faxes_get_with_http_info(api_key, opts)
      return nil
    end

    # 
    # This API get faxes . 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def incoming_faxes_get_with_http_info(api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: FaxApi.incoming_faxes_get ..."
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling FaxApi.incoming_faxes_get"
      end
      # resource path
      local_var_path = "/incoming-faxes"

      # query parameters
      query_params = {}
      query_params[:'api_key'] = api_key

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FaxApi#incoming_faxes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # This API get faxes  by number. 
    # @param api_key API Key
    # @param number Number in the fax
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def incoming_faxes_number_get(api_key, number, opts = {})
      incoming_faxes_number_get_with_http_info(api_key, number, opts)
      return nil
    end

    # 
    # This API get faxes  by number. 
    # @param api_key API Key
    # @param number Number in the fax
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def incoming_faxes_number_get_with_http_info(api_key, number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: FaxApi.incoming_faxes_number_get ..."
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling FaxApi.incoming_faxes_number_get"
      end
      # verify the required parameter 'number' is set
      if @api_client.config.client_side_validation && number.nil?
        fail ArgumentError, "Missing the required parameter 'number' when calling FaxApi.incoming_faxes_number_get"
      end
      # resource path
      local_var_path = "/incoming-faxes/{number}".sub('{' + 'number' + '}', number.to_s)

      # query parameters
      query_params = {}
      query_params[:'api_key'] = api_key

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FaxApi#incoming_faxes_number_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # This API get Provision numbers. 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :limit Limit to display
    # @return [nil]
    def provision_numbers_get(api_key, opts = {})
      provision_numbers_get_with_http_info(api_key, opts)
      return nil
    end

    # 
    # This API get Provision numbers. 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :limit Limit to display
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def provision_numbers_get_with_http_info(api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: FaxApi.provision_numbers_get ..."
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling FaxApi.provision_numbers_get"
      end
      # resource path
      local_var_path = "/provision-numbers"

      # query parameters
      query_params = {}
      query_params[:'api_key'] = api_key
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FaxApi#provision_numbers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
