=begin
#Fax.to REST API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 0.0.1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.2.3

=end

require "uri"

module SwaggerClient
  class FaxApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # This API get the cost of a sending fax. 
    # @param api_key API Key
    # @param fax_number Fax Number
    # @param document_id id of the file / document_id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def fax_document_id_costs_get(api_key, fax_number, document_id, opts = {})
      fax_document_id_costs_get_with_http_info(api_key, fax_number, document_id, opts)
      return nil
    end

    # 
    # This API get the cost of a sending fax. 
    # @param api_key API Key
    # @param fax_number Fax Number
    # @param document_id id of the file / document_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def fax_document_id_costs_get_with_http_info(api_key, fax_number, document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: FaxApi.fax_document_id_costs_get ..."
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling FaxApi.fax_document_id_costs_get"
      end
      # verify the required parameter 'fax_number' is set
      if @api_client.config.client_side_validation && fax_number.nil?
        fail ArgumentError, "Missing the required parameter 'fax_number' when calling FaxApi.fax_document_id_costs_get"
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling FaxApi.fax_document_id_costs_get"
      end
      # resource path
      local_var_path = "/fax/{document_id}/costs".sub('{' + 'document_id' + '}', document_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'api_key'] = api_key
      query_params[:'fax_number'] = fax_number

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FaxApi#fax_document_id_costs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # This API get all fax history. 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :limit Number of records to return
    # @option opts [String] :page Page to display
    # @return [nil]
    def fax_history_get(api_key, opts = {})
      fax_history_get_with_http_info(api_key, opts)
      return nil
    end

    # 
    # This API get all fax history. 
    # @param api_key API Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :limit Number of records to return
    # @option opts [String] :page Page to display
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def fax_history_get_with_http_info(api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: FaxApi.fax_history_get ..."
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling FaxApi.fax_history_get"
      end
      # resource path
      local_var_path = "/fax-history"

      # query parameters
      query_params = {}
      query_params[:'api_key'] = api_key
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FaxApi#fax_history_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # This API get the status of the fax. 
    # @param api_key API Key
    # @param job_id id of the fax job
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def fax_job_id_status_get(api_key, job_id, opts = {})
      fax_job_id_status_get_with_http_info(api_key, job_id, opts)
      return nil
    end

    # 
    # This API get the status of the fax. 
    # @param api_key API Key
    # @param job_id id of the fax job
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def fax_job_id_status_get_with_http_info(api_key, job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: FaxApi.fax_job_id_status_get ..."
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling FaxApi.fax_job_id_status_get"
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling FaxApi.fax_job_id_status_get"
      end
      # resource path
      local_var_path = "/fax/{job_id}/status".sub('{' + 'job_id' + '}', job_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'api_key'] = api_key

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FaxApi#fax_job_id_status_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # This API send the fax. When we send fax using API, Fax.to send a POST to the Callback URL you specified in https://fax.to/member/api/live. Fax.to send POST data with the following information fax_job_id, status and message. 
    # @param api_key API Key
    # @param fax_number Fax Number
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :document_id Document id. If you want to use existing document you need to specify the document_id
    # @option opts [String] :tsi_number If we want to to change the text or number that appear on &#39;from&#39; or &#39;sender&#39; of the fax
    # @option opts [File] :file PDF file to upload
    # @option opts [Integer] :delete_file Whether to delete file after fax transaction. (put 1 to delete)
    # @return [nil]
    def fax_post(api_key, fax_number, opts = {})
      fax_post_with_http_info(api_key, fax_number, opts)
      return nil
    end

    # 
    # This API send the fax. When we send fax using API, Fax.to send a POST to the Callback URL you specified in https://fax.to/member/api/live. Fax.to send POST data with the following information fax_job_id, status and message. 
    # @param api_key API Key
    # @param fax_number Fax Number
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :document_id Document id. If you want to use existing document you need to specify the document_id
    # @option opts [String] :tsi_number If we want to to change the text or number that appear on &#39;from&#39; or &#39;sender&#39; of the fax
    # @option opts [File] :file PDF file to upload
    # @option opts [Integer] :delete_file Whether to delete file after fax transaction. (put 1 to delete)
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def fax_post_with_http_info(api_key, fax_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: FaxApi.fax_post ..."
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling FaxApi.fax_post"
      end
      # verify the required parameter 'fax_number' is set
      if @api_client.config.client_side_validation && fax_number.nil?
        fail ArgumentError, "Missing the required parameter 'fax_number' when calling FaxApi.fax_post"
      end
      # resource path
      local_var_path = "/fax"

      # query parameters
      query_params = {}
      query_params[:'api_key'] = api_key

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params["fax_number"] = fax_number
      form_params["document_id"] = opts[:'document_id'] if !opts[:'document_id'].nil?
      form_params["tsi_number"] = opts[:'tsi_number'] if !opts[:'tsi_number'].nil?
      form_params["file"] = opts[:'file'] if !opts[:'file'].nil?
      form_params["delete_file"] = opts[:'delete_file'] if !opts[:'delete_file'].nil?

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FaxApi#fax_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
